<speak version="1.0" xml:lang="en-US">
    <voice name="en-US-SteffanMultilingualNeural">
        Welcome <break /> to this course where we are going to prepare ourselves for the AI-102 exam.
        We've got a lot to cover <break strength="medium" /> so let's brace ourselves for a journey to remember.
    </voice>
</speak>